@{
    ViewData["Title"] = "Home Page";
}

@{
  Layout = "_Layout";
}

<h1>Welcome to Yakima's City Hall Tracker!</h1>

<p>Which City Council District do you live in?</p>

<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1n2TYpHIQ_Lg59WUsMcEFZ6rMwM4" width="640" height="480"></iframe>
@* 
<p>@Html.ActionLink("See all Councilmembers", "Index", "CouncilMembers")</p>
<p>@Html.ActionLink("See all Council Actions", "Index", "CouncilActions")</p> *@
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
